@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    color: white;
}

.background {
    position: absolute;
    
    right: 0;
    left: 0;
    top: 0;

    z-index: -10;
}

.background img {
    position: static;
    
    height: 100vh;
    width: 100vw;

    display: block
}

h1 {
    text-align: center;
    font-family: 'Sankofa Display', 'UnifrakturCook', Calibri, sans-serif;
}