@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Protest+Revolution&family=Sankofa+Display&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Stick+No+Bills:wght@200..800&family=UnifrakturMaguntia&display=swap');

:root {
    --box-skew: 30deg;
    --box-unskew: calc(-1 * var(--box-skew));

    --darker-theme-color: rgb(0, 17, 61);
    --dark-theme-color: rgb(24, 0, 97);
    --theme-color: rgb(0, 35, 122);
    --light-theme-color: rgb(10, 42, 128);

    --title-font: 'Protest Revolution', Helvetica;
    --title-color: #f0f8ff;

    --content-font: Helvetica;
    --content-color: #f0f8ff;

    --link-font: 'Stick No Bills', Helvetica;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, var(--dark-theme-color), var(--darker-theme-color)); 
    color: white;

    min-height: 100vh;
}

.background {
    position: fixed;
    
    left: 0;
    top: 0;

    z-index: -10;

    height: 100vh;
    width: 100vw;
}

.box {
    width: fit-content;

    background-color: black;
    padding: 5px 40px;

    border: 5px solid white;

    transform: skew(var(--box-skew));
}

.box * {
    transform: skew(var(--box-unskew));
}